.nav {
    grid-area: n;
    padding: 15px 12px;
    border-right: 1px solid rgba(229,231,235);
}

.item a{
    display: block;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 4px;
    font-size: 16px;
    color: #585757;
    font-weight: 600;
    text-decoration: none;
}

.item a:hover{
    background-color: #F3F4F6;
}

.item a.activeLink {
    background-color: rgba(42, 65, 232, 0.07);
    color: #2a41e8;
}